main {
    background-image: url('../imagenes/main-postre-1.jpg');
    background-size: cover;
    background-position: center;
    color: black;
  }

.descripcion {
    margin: 30px 10px 50px;
}

.contenedor-tarjetas-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contenedor-tarjetas-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
}

.btn_navbar{
    width: 80px; border-radius: 20px;
}

.tarjeta {
    display: flex;
    border: 1px solid black;
    text-align: center;
    width: 95vw;
    margin: 10px;
}

.tarjeta img {
    height: auto;
    max-width: 100px;
    border: 1px solid black;
}

.grid-container>* {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
}

.header {
    grid-area: header;
    background-color: #fcf9f9;
}

.navbar {
    grid-area: navbar;
    background-color: #fcf9f9;
}

.sidebar {
    grid-area: sidebar;
    background-color: #fcf9f9;
    padding: 0;
}

.main {
    grid-area: main;
    background-color: #fcf9f9;
}

.footer {
    grid-area: footer;
    background-color: #fcf9f9;
}

.grid-container {
    display: grid;
    gap: 5px;
    grid-template:
        "header" 55px
        "main" auto
        "navbar" 60px
        "sidebar" 400px
        "footer" 40px;
}

@media (min-width: 600px) {
    .grid-container {
        /* grid-template-columns: 200px auto;
      grid-template-rows: 100px 50px auto 100px;
      grid-template-areas: 
      "header  header"
      "navbar  navbar"
      "sidebar main"
      "footer  footer"; */

        grid-template:
            "header  header" 75px
            "navbar  main" auto
            "navbar  sidebar" 400px
            "footer  footer" 70px /
            200px auto;
    }

    .contenedor-tarjetas-row {
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        /* width: 100vw; */
    }

    .btn_navbar {
        margin-bottom: 20px;
        width: 100%;
    }
}

@media (min-width: 1000px) {
    .grid-container {
        grid-template:
            "header  header header" 75px
            "navbar  main   sidebar" auto
            "footer  footer footer" 70px /
            200px auto 300px;
    }

    .contenedor-tarjetas-row {
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        /* width: 100vw; */
    }

    /* .contenedor-tarjetas-column {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    } */

    /* .tarjeta {
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        border-radius: 10px;
        margin: 1rem 10px 0;
        background-color: #28b136;
    } */

    .tarjeta {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        text-align: justify;
        width: 25vw;
        margin: 10px;
        padding: 10px;
    }

    .tarjeta img {
        height: auto;
        max-width: 200px;
        border: 1px solid black;
        margin-bottom: 15px;
    }
}