.div_contenedor {
  padding: 50px 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 15px;
  background-color:#28b136;
  border-radius: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 70px;
  font-style: italic;
}

label {
  margin: 15px;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
}

.btn_generico {
  background-color: rgb(250, 190, 40);
  color: #28b136;
  font-weight: bold;
}

.grid-container>* {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
}

.header {
  grid-area: header;
  background-color: #fcf9f9;
}

.navbar {
  grid-area: navbar;
  background-color: #fcf9f9;
}

.sidebar {
  grid-area: sidebar;
  background-color: #fcf9f9;
  padding: 0;
}

.main {
  grid-area: main;
  background-color: #fcf9f9;
  /* #85aedd*/
}

.footer {
  grid-area: footer;
  background-color: #fcf9f9;
}

.grid-container {
  display: grid;
  gap: 5px;
  grid-template:
      "header" 55px
      "main" auto
      "footer" 150px;
}

@media (min-width: 600px) {
  .grid-container {
      /* grid-template-columns: 200px auto;
    grid-template-rows: 100px 50px auto 100px;
    grid-template-areas: 
    "header  header"
    "navbar  navbar"
    "sidebar main"
    "footer  footer"; */

      grid-template:
          "header" 75px
          "main" auto
          "footer" 150px;
  }
}