/* .div_contenedor {
    max-width: 500px;
    margin: 0 auto;
    padding: 50px 20px;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.div_pago {
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.btn_pago {
    display: flex;
    margin: 20px;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    width: 100%;
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 150px;
}

p {
    margin-bottom: 100%;
} */

.btn_pago {
    display: flex;
    color: #28b136;
    text-decoration: none;
    width: 130px;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 130px;
    border-radius: 25px;
    border: 1px solid rgb(250, 190, 40);
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
}

.btn_pago:hover {
    background-color: #28b136;
    color: white;
}

/* .btn_pago:nth-child(odd) {
    background-color: #f2f2f2;
}

.btn_pago:nth-child(even) {
    background-color: #e5e5e5;
} */

h1 {
    text-align: center;
    margin-bottom: 50px;
    font-style: italic;
}

.div_contenedor {
    padding: 10px 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.div_pago {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    /* margin: 20px; */
    /* border: 1px solid black; */
    /* border-radius: 10px; */
    align-items: center;
    justify-content: space-evenly;
}

.grid-container>* {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
}

.header {
    grid-area: header;
    background-color: #fcf9f9;
}

.navbar {
    grid-area: navbar;
    background-color: #fcf9f9;
}

.sidebar {
    grid-area: sidebar;
    background-color: #fcf9f9;
    padding: 0;
}

.main {
    grid-area: main;
    background-color: #fcf9f9;
    /* #85aedd*/
}

.footer {
    grid-area: footer;
    background-color: #fcf9f9;
}

.grid-container {
    display: grid;
    gap: 5px;
    grid-template:
        "header" 55px
        "main" auto
        "footer" 50px;
}

@media (min-width: 600px) {
    .grid-container {
        /* grid-template-columns: 200px auto;
      grid-template-rows: 100px 50px auto 100px;
      grid-template-areas: 
      "header  header"
      "navbar  navbar"
      "sidebar main"
      "footer  footer"; */

        grid-template:
            "header" 75px
            "main" auto
            "footer" 70px;
    }

    .btn_pago {
        width: 150px;
        height: 150px;
    }
}